/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  header {
    background-color: #000;
    color: #fff;
    padding: 20px;
  }
  
  .logo img {
    width: 200px;
  }
  
  .search {
    margin-top: 20px;
  }
  
  .search input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search button:hover {
    background-color: #0056b3;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin-top: 0;
    color: #333;
  }
  
  /* Results Page Styles */
  #results-container {
    max-width: 800px;
    margin: 50px auto;
  }
  
  #results-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .item-details {
    flex: 1;
    padding-right: 20px;
  }
  
  .item-icon {
    width: 50px;
    height: 50px;
    margin-left: auto;
  }
  